html,
body {
	height: 100%;
}

.global-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form {
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.card-title {
	font-weight: 300;
}

.form-control {
	margin-bottom: 20px;
	width: 350px;
}

.btn {
	font-size: 14px;
	margin-top: 20px;
}

.login-form {
	width: 500px;
	padding: 40px;
	margin: 20px;
}

.sign-up {
	text-align: center;
	padding: 20px 0 0;
}

.alert {
	margin-bottom: -30px;
	font-size: 13px;
	margin-top: 20px;
}

body {
	width: 100%;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	mso-margin-top-alt: 0px;
	mso-margin-bottom-alt: 0px;
	mso-padding-alt: 0px 0px 0px 0px;
}

p,
h1,
h2,
h3,
h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

span.preheader {
	display: none;
	font-size: 1px;
}

html {
	width: 100%;
}

table {
	font-size: 14px;
	border: 0;
}

/* ----------- responsivity ----------- */

@media only screen and (max-width: 640px) {
	/*------ top header ------ */
	.main-header {
		font-size: 20px;
	}

	.main-section-header {
		font-size: 28px;
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	.align-center {
		text-align: center;
	}

	.no-bg {
		background: none;
	}

	/*----- main image -------*/
	.main-image img {
		width: 440px;
		height: auto;
	}

	/* ====== divider ====== */
	.divider img {
		width: 440px;
	}

	/*-------- container --------*/
	.container590 {
		width: 440px;
	}

	.container580 {
		width: 400px;
	}

	.main-button {
		width: 220px;
	}

	/*-------- secions ----------*/
	.section-img img {
		width: 320px;
		height: auto;
	}

	.team-img img {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 479px) {
	/*------ top header ------ */
	.main-header {
		font-size: 18px;
	}

	.main-section-header {
		font-size: 26px;
	}

	/* ====== divider ====== */
	.divider img {
		width: 280px;
	}

	/*-------- container --------*/
	.container590 {
		width: 280px;
	}

	.container590 {
		width: 280px;
	}

	.container580 {
		width: 260px;
	}

	/*-------- secions ----------*/
	.section-img img {
		width: 280px;
		height: auto;
	}
}